# python system files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.pyc

# environments
venv/
env/
.venv/
build/
dist/
*.spec

# simulation output
*_metrics.csv
*.csv

# vscode and its addons
.vscode/
.idea/
.history/

# junk
.DS_Store
Thumbs.dbven/
__pycache__/
.DS_Store
